{% extends 'pages/bloglayouts.html' %}

{% load static %}

{% block content %}
<div class="w3-content w3-section" style="max-width:100%;">
    {% for b in photos %}
    <img class="mySlides" src="{{ b.image.url }}" style="width:100%" height="100%;">
    {% endfor %}
  </div>
  
  <script>
  var myIndex = 0;
  carousel();
  
  function carousel() {
    var i;
    var x = document.getElementsByClassName("mySlides");
    for (i = 0; i < x.length; i++) {
      x[i].style.display = "none";  
    }
    myIndex++;
    if (myIndex > x.length) {myIndex = 1}    
    x[myIndex-1].style.display = "block";  
    setTimeout(carousel, 2000); // Change image every 2 seconds
  }
  </script>
<div class="container">
    <div class="row" style="margin-top: 80px;">
        <div class="col-md-2 col-sm-12" style="margin-top: 20px;">
        <h5>Topics</h5>
             <ul style=" margin-left: 26px;">
                <li class=""><a href="{% url 'explore' %}">All</a></li>
                {% for category in categories %}
                <li class="active"><a href="{% url 'portfolio_category' category.name %}">{{ category.name }}</a></li>
                {% endfor %}
            </ul>
        </div>  
        <div class="col-md-9">
            <h1 style="margin-bottom: 40px;">{{ portfolio.title }}</h1>
            <img src="{{ portfolio.image.url }}" style="width: 100%;" class="card" alt="2nd">
            <!-- <h3>{{ portfolio.title }}</h3> -->
            <small>
                Categories:&nbsp;
                {% for category in portfolio.categories.all %}
                    <a href="{% url 'portfolio_category' category.name %}">
                        {{ category.name }}
                    </a>&nbsp;
                {% endfor %}
            </small>
            <p>{{ portfolio.description | safe | linebreaks }}</p>
            <br>
        </div>         
    </div>    
</div>

{% endblock %}