{% extends 'pages/bloglayouts.html' %}

{% load static %}

{% block content %}
<div class="w3-content w3-section" style="max-width:100%;">
    {% for b in banners %}
    <img class="mySlides" src="{{ b.image.url }}" style="width:100%" height="100%;">
    {% endfor %}
  </div>
  
  <script>
  var myIndex = 0;
  carousel();
  
  function carousel() {
    var i;
    var x = document.getElementsByClassName("mySlides");
    for (i = 0; i < x.length; i++) {
      x[i].style.display = "none";  
    }
    myIndex++;
    if (myIndex > x.length) {myIndex = 1}    
    x[myIndex-1].style.display = "block";  
    setTimeout(carousel, 2000); // Change image every 2 seconds
  }
  </script>
<div class="container" style="margin-top: 40px;">
    <div class="row">
        <div class="col-md-4 col-lg-4 col-sm-12">
            <h1>
                <span style="font-size: 36pt;">Portfolio</span>
                <span style="font-size: 36pt;">
                    <span style="color: #ff0000;">
                        .<br/>
                    </span>
                </span>
                <span style="color: #999999;">
                    <span style="font-size: 36pt;">
                        Design<br>
                        & culture visulle
                    </span>
                </span>
            </h1>
            <hr>
            <nav>
                <ul>
                    <li class="active"><a href="{% url 'explore' %}">All</a></li>
                    {% for category in categories %}
                        <li class="active"><a href="{% url 'portfolio_category' category.name %}">{{ category.name }}</a></li>
                    {% endfor %}
                </ul>
            </nav>
        </div>
        {% for recent in recents %}
        <div class="col-md-8 col-lg-8 col-sm-12">
            <a href="{% url 'detailed' recent.id %}"> <img src="{{ recent.image.url }}" style="width: 100%;" alt=""></a>
            <div class="caption" style="padding-top: 10px;">
                <p class="first-blog">{{ recent.title }}</p>
                <p>{{ recent.description|safe|slice:":130" }}</p>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="row">
        {% for portfolio in portfolios %}
        <div class="col-md-4 col-lg-4 col-sm-12">
            <a href="{% url 'detailed' portfolio.id %}"><img src="{{ portfolio.image.url }}" style="width: 100%;" alt="2nd"></a>
            <div class="caption" style="padding-top: 10px;">
                <p class="first-blog">{{ portfolio.title }}</p>
                <p>{{ portfolio.description|slice:":100" }}</p>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}