{% extends 'pages/storelayouts.html' %}

{% load static %}

{% block content %}

<div class="container" style="padding-top: 130px;"> 
    <div class="row ">
        <div class="col-md-8 border card" >
            <div class="row">
                <div class="col-md-4">
                    <!-- carusell starts here -->
                    <div class="w3-content w3-section" style="max-width:500px">
                        {% for p in photos %}
                        <img class="mySlides w3-animate-fading" src="{{ p.image.url }}" style="width:100%">
                        {% endfor %}
                    </div>
                
                      <script>
                      var myIndex = 0;
                      carousel();
                      
                      function carousel() {
                        var i;
                        var x = document.getElementsByClassName("mySlides");
                        for (i = 0; i < x.length; i++) {
                          x[i].style.display = "none";  
                        }
                        myIndex++;
                        if (myIndex > x.length) {myIndex = 1}    
                        x[myIndex-1].style.display = "block";  
                        setTimeout(carousel, 9000);    
                      }
                      </script>  
                    <!-- slide  ends here -->
                </div>
                <div class="col-md-8" style="margin-top: 24px;">
                    <small>
                        Tags: {{ product.tags }}
                    </small>
                    <h3>{{ product.name}}</h3>
                    <small>
                        Categories: {{ product.category }}
                    </small>
                    <hr>
                    <b><h3>${{ product.price }}</h3></b>
                    <a data-product={{product.id}} data-action="add" class="btn btn-success add-btn button update-cart card">Add to cart</a>
                    <hr>
                    <p>offers starticartItemsng from: <b>${{ product.price }}</b></p>
                    <hr>
                </div>
            </div>
        </div>
        <div class="col-md-3 offset-1 card">
            <div class="container">
                <h5 style="text-transform: uppercase; text-align: center; margin-top: 20px;;">Delivery & Returns</h5>
                <hr>
                <i class="fa fa-car" style="font-size: 30px;"></i>
                    <p style="display: inline;">Delivery Information <br>
                        Normally delivered between Thursday 10 Dec and Tuesday 15 Dec. 
                        Please check exact dates in the Checkout
                    </p>
                    <hr>
                <i class="fa fa-undo" style="font-size: 30px;"></i>
                <p style="display: inline;">
                    Return Policy <br>
                    Free return within 015 days for Jumia Mall items and 7 days for 
                    other eligible items.
                </p>
            </div>
        </div>
    </div>
</div>
<div class="container"> 
    <div class="row" style="margin-top: 20px; margin-bottom: 20px;">
        <div class="col-md-8 card">
            <div class="container">
                <div class="card-head">
                    <h4 style="text-transform: capitalize;">product details</h4>
                </div>
                <hr>
                <div class="card-body"> 
                    <p>{{ product.description|safe}}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 col-sm-12 card">
            <div class="container">
                <h5>Specifications</h5>
                <hr>
            <div class="row">
                <div class="col-md-6 card">
                    <div class="card-head">
                        <h5>Key features</h5>
                        <hr>
                    </div>
                    <div class="card-body">
                        <p>{{ product.features|safe }}</p>
                    </div>
                </div>
                <div class="col-md-6 card">
                    <div class="card-head">
                        <h5>Whats in the box</h5>
                        <hr>
                    </div>
                    <div class="card-body">
                        <p>{{ product.content|safe }}</p>
                    </div>
                </div>
                <div class="col-md-6 card">
                    <div class="card-head">
                        <h5>Specifications</h5>
                        <hr>
                    </div>
                    <div class="card-body">
                        <p>{{ product.specification|safe }}</p>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}