{% extends 'pages/layouts.html' %}

{% load static %}

{% block content %}

<div class="banner" style="margin-top: 108px;">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <img src="{% static 'assets/images/indication.png' %}" alt="">
            </div>
        </div>
    </div>
</div>
<div class="ash" style="background-color:#f6f6f6; padding-top: 47px; margin-top: 47px;">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-12">
                <h2 style="padding-bottom: 17px; color: #635f5f;">Content</h2>
                <p class="pc">
                    Graphéine is a Graphic Design advice agency created in 2002 by 
                    like-minded and lively designers from various professional walks of life, 
                    all addicted to image.In this backdrop, all members use their skills to complement the whole
                </p>
            </div>
            <div class="col-md-4 col-sm-12">
                <h2 style="padding-bottom: 17px; color: #635f5f;">Indications</h2>
                <p>Graphéine is recommended for all projects that involve brand creation, 
                    visual identity, publishing, signage, web design, and even more…     
                 </p>
            </div>
            <div class="col-md-4 col-sm-12">
                <h2 style="padding-bottom: 17px; color: #635f5f;">Directions for use</h2>
                <p>The complexity of treatment depends greatly on the type of project and the 
                    budget available.
                </p>
                <h2 style="padding-bottom: 17px; color: #635f5f;">Side effects</h2>
                <p>Risk of addiction.</p>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="shell" style="margin-top: 20px; margin-bottom: 30px;">
        <i><h3>In a nutshell...</h3></i>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-4 col-sm-12">
            <h2 style="padding-bottom: 17px; color: #635f5f;">Content</h2>
            <p class="pc">
                Before every result, there comes an experimental phase. 
                Hybrid research, seedlings of graphic projects, exploration of possible and impossible combinations.
            </p>
            <p class="pc">
                Graphéine gives itself breathing space, void of result-driven 
                obligation, to be able to validate, innovate and affirm its own identity.
            </p>
            <p class="pc">
                Experimentation is crucial to uncover innovative 
                formula, to trundle off the beaten tracks, to have a little fun…
            </p>
        </div>
        <div class="col-md-4 col-sm-12">
            <h2 style="padding-bottom: 17px; color: #635f5f;">Curious</h2>
            <p class="pc">Our diverse range of skills gives us a bird’s-eye view of the market.</p>
            <P class="pc">We have a thirst for knowledge. Graphéine is able to dive deep into the 
            very heart of the customer’s mindset to unearth the most meaningful solutions.</P>
            <h2 style="padding-bottom: 17px; color: #635f5f;">Socially-conscious</h2>
            <p class="pc">Well aware of the power of words and images, we use them with humility. 
            Graphéine strives to improve our visual environment, to produce something both useful and appealing.
            </p>
            <p class="pc">Graphéine has a social conscience and doesn’t hide it.</p>
        </div>
        <div class="col-md-4 col-sm-12">
            <h2 style="padding-bottom: 17px; color: #635f5f;">Stimulating</h2>
            <p class="pc">Brain stimulation is Graphéine’s daily exercise.</p>
            <p class="pc">Graphéine evolves in an atmosphere of euphoria, exchange and the hustle and bustle of 
            life. Knowledge is put to the test, ping-ponged, to bring about a creative kaleidoscope of collaboration.</p>
            <p class="pc">We are idea generators, accelerators and amplifiers of thought. Graphéine is a stimulant, 
            increasing daily energy intake by tenfold.</p>
        </div>
    </div>
</div>

<div class="recent" style="margin-top: 20px;">
    <div class="container">
        <div class="justify-content-center">
            <h3 style="text-align: center; font-weight: 300 !important; color: #635f5f;">A few recent works</h3>
        </div>
        <div class="row mx-0">
            {% for portfolio in portfolios %}
            <div class="col px-0">
                <img src="{{ portfolio.image.url}}" style="width: 100%;" alt="">
            </div>
            {% endfor %}
        </div>
        <div class="row mx-0">
            <div class="col-md-12 px-0">
                <div class="prescription" style="height: 160px; width: 100%; background: #ff0000; margin-top: 0px;">
                    <div class="container">
                      <h2 style="font-weight: 100; color: white; padding-top: 60px;">
                          Need a prescription? <span style="font-weight: initial; margin-left: 560px;"></span>
                      </h2>
                    </div>
                  </div>
            </div>
        </div>
        </div>
    </div>
</div>
{% endblock %}