{% extends 'pages/layouts.html' %}

{% load static %}

{% block content %}

<div class="banner" style="margin-top: 108px;">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <img src="{% static 'assets/images/e.png' %}" alt="">
            </div>
        </div>
    </div>
</div>
<div class="ash" style="background-color:#f6f6f6; padding-top: 47px; margin-top: 47px;">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-12">
                <h2 style="padding-bottom: 17px; color: #635f5f;">Diagnosis</h2>
                <p class="pc">
                    The terms “brand” and “branding” have become common currency, but their 
                    meaning can sometimes be confusing. A brand is much more than a “name” or 
                    a “logo”. It should reflect the overall personality of an organisation, a 
                    product or service, and acts as an interface with its customers.
                </p>
                <p>
                    The terms “brand” and “branding” have become common currency, but their 
                    meaning can sometimes be confusing. A brand is much more than a “name” or 
                    a “logo”. It should reflect the overall personality of an organisation, a 
                    product or service, and acts as an interface with its customers.
                </p>
                <p>
                    The terms “brand” and “branding” have become common currency, but their 
                    meaning can sometimes be confusing. A brand is much more than a “name” or 
                    a “logo”. It should reflect the overall personality of an organisation, a 
                    product or service, and acts as an interface with its customers.
                </p>
            </div>
            <div class="col-md-4 col-sm-12">
                <h2 style="padding-bottom: 17px; color: #635f5f;">Indications</h2>
                <p>We can be there to guide you on defining your brand strategy. We use a simple, 
                tried and tested methodology:
                <ul>
                    <li>Analysis of competition</li>
                    <li>Analysis of target audience</li>
                    <li>Internal audit and identifying competitiveness growth</li>
                    <li>Strategic recommendations</li>
                </ul>    
                 </p>
            </div>
            <div class="col-md-4 col-sm-12">
                <h2 style="padding-bottom: 17px; color: #635f5f;">Directions for use</h2>
                <p>The complexity of treatment depends greatly on the type of project and the 
                    budget available.
                </p>
                <h2 style="padding-bottom: 17px; color: #635f5f;">Side effects</h2>
                <p>Risk of success.</p>
            </div>
        </div>
    </div>
</div>
<div class="recent" style="margin-top: 20px;">
    <div class="container">
        <div class="justify-content-center">
            <h3 style="text-align: center; font-weight: 300 !important; color: #635f5f;">A few recent works</h3>
        </div>
        <div class="row mx-0">
            {% for portfolio in portfolios %}
            <div class="col px-0">
                <img src="{{ portfolio.image.url}}" style="width: 100%;" alt="">
            </div>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}