{% extends 'pages/layouts.html' %}

{% load static %}

{% block content %}
<div id="demo" class="carousel slide" data-ride="carousel" style="margin-top: 94px;">

  <!-- Indicators -->
  <ul class="carousel-indicators">
    <li data-target="#demo" data-slide-to="0" class="active"></li>
    <li data-target="#demo" data-slide-to="1"></li>
    <li data-target="#demo" data-slide-to="2"></li>
  </ul>

  <!-- The slideshow -->
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="{% static 'assets/images/grapheine home banner.png' %}" alt="Los Angeles" width="1100" height="500">
    </div>
    <div class="carousel-item">
      <img src="{% static 'assets/images/grapheine home banner 1.png' %}" alt="Chicago" width="1100" height="500">
    </div>
    <div class="carousel-item">
      <img src="{% static 'assets/images/grapheine home banner 2.png' %}" alt="New York" width="1100" height="500">
    </div>
  </div>

  <!-- Left and right controls -->
  <a class="carousel-control-prev" href="#demo" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </a>
  <a class="carousel-control-next" href="#demo" data-slide="next">
    <span class="carousel-control-next-icon"></span>
  </a>
</div>
<div class="container" style="padding-top:48px;">
  <div class="row">
    <div class="col">
      <h1 style="color: #404040;">The communication agency that boosts your brand image!</h1>
    </div>
    <div class="col">
      <p>Graphéine is a <b>branding agency</b> created in 2002 by like-minded and lively
          designers from various professional walks of life, all addicted to image.</p>
      <p>In this backdrop, all members use
        their skills to complement the whole. We are based in <b>Paris and Lyon, France.</b></p>
    </div>
    <div class="col">
      <p><b>Indications:</b> Graphéine is recommended for all projects that involve
        strategy, brand creation, visual identity, publishing, signage and even more…</p>
      <p><b>Directions for use:</b> If symptoms appear, contact us immediately…</p>
    </div>
  </div>
  <hr style="margin-top: 43px;">
</div>
<div class="container" style="padding-top: 30;">
  <div class="row">
        <div class="col-md-7">
          <h2 style="margin-top: 12px;">
            <span style="font-size: 36px;">
                <span style="color: #404040;">
                  <a href="#" >The agency portfolio</a>
                </span>
            </span>
          </h2>
          <span style="font-size: 18px; color: #999999;">
            <p style="margin-top: 15px;">Discover the latest creations of our communication agency.
              Brand strategy, branding, visual identities, logo creation...</p>
          </span>
        </div>
  </div>
</div>
<div class="container" style="padding-top: 30px;">
  <div class="row">
    <div class="col">
      <img src="{% static 'assets/images/portfolio/1.gif' %}" style="width:100%;" alt="first">
      <div class="caption">
        <h5>Eurex, accountancy and consulting – Visual identity</h5>
        <span style="color: #999999;">
          <p>Graphéine updates the brand image of Eurex, an international
          accounting and consulting group, in constant growth since its creation.</p>
        </span>
      </div>
    </div>
    <div class="col">
      <img src="{% static 'assets/images/portfolio/2.jpg' %}" style="width:100%;" alt="first">
      <div class="caption">
        <h5>Eurex, accountancy and consulting – Visual identity</h5>
        <span style="color: #999999;">
          <p>Graphéine updates the brand image of Eurex, an international
          accounting and consulting group, in constant growth since its creation.</p>
        </span>
      </div>
    </div>
    <div class="col">
      <img src="{% static 'assets/images/portfolio/3.jpg' %}" style="width:100%;" alt="first">
      <div class="caption">
        <h5>Paris Sports Courses</h5>
        <span style="color: #999999;">
          <p>Graphéine updates the brand image of Eurex, an international
          accounting and consulting group, in constant growth since its creation.</p>
        </span>
      </div>
    </div>
    <div class="col">
      <img src="{% static 'assets/images/portfolio/4.jpg' %}" style="width:100%;" alt="first">
      <div class="caption">
        <h5>Eurex, accountancy and consulting – Visual identity</h5>
        <span style="color: #999999;">
          <p>Graphéine updates the brand image of Eurex, an international
          accounting and consulting group, in constant growth since its creation.</p>
        </span>
      </div>
    </div>
  </div>
  <div class="row" style="padding-top: 30px;">
    <div class="col">
      <img src="{% static 'assets/images/portfolio/5.jpg' %}" style="width:100%;" alt="first">
      <div class="caption">
        <h5>Eurex, accountancy and consulting – Visual identity</h5>
        <span style="color: #999999;">
          <p>Graphéine updates the brand image of Eurex, an international
          accounting and consulting group, in constant growth since its creation.</p>
        </span>
      </div>
    </div>
    <div class="col">
      <img src="{% static 'assets/images/portfolio/6.jpg' %}" style="width:100%;" alt="first">
      <div class="caption">
        <h5>Eurex, accountancy and consulting – Visual identity</h5>
        <span style="color: #999999;">
          <p>Graphéine updates the brand image of Eurex, an international
          accounting and consulting group, in constant growth since its creation.</p>
        </span>
      </div>
    </div>
    <div class="col">
      <img src="{% static 'assets/images/portfolio/7.jpg' %}" style="width:100%;" alt="first">
      <div class="caption">
        <h5>Eurex, accountancy and consulting – Visual identity</h5>
        <span style="color: #999999;">
          <p>Graphéine updates the brand image of Eurex, an international
          accounting and consulting group, in constant growth since its creation.</p>
        </span>
      </div>
    </div>
    <div class="col">
      <img src="{% static 'assets/images/portfolio/1.gif' %}" style="width:100%;" alt="first">
      <div class="caption">
        <h5>Eurex, accountancy and consulting – Visual identity</h5>
        <span style="color: #999999;">
          <p>Graphéine updates the brand image of Eurex, an international
          accounting and consulting group, in constant growth since its creation.</p>
        </span>
      </div>
    </div>
  </div>
</div>
<div class="container" style="padding-top: 30;">
  <div class="row">
        <div class="col-md-7">
          <h2 style="margin-top: 12px;">
            <span style="font-size: 36px;">
                <span style="color: #404040;">
                  <a href="#" >The agency blog</a>
                </span>
            </span>
          </h2>
          <span style="font-size: 18px; color: #999999;">
            <p style="margin-top: 15px;">A daily dose of branding and visual
              identity.</p>
          </span>
        </div>
  </div>
</div>
<!-- Blog section -->
<div class="container" style="padding-top: 30px;">
  <div class="row">
    <div class="col">
      <img src="{% static 'assets/images/blog/1.jpg' %}" style="width:100%;" alt="first">
      <div class="caption">
        <p>29-09-2020</p>
        <h5>Eurex, accountancy and consulting – Visual identity</h5>
        <span style="color: #999999;">
          <p>Graphéine updates the brand image of Eurex, an international
          accounting and consulting group, in constant growth since its creation.</p>
        </span>
      </div>
    </div>
    <div class="col">
      <img src="{% static 'assets/images/blog/2.gif' %}" style="width:100%;" alt="first">
      <div class="caption">
        <p>29-09-2020</p>
        <h5>Eurex, accountancy and consulting – Visual identity</h5>
        <span style="color: #999999;">
          <p>Graphéine updates the brand image of Eurex, an international
          accounting and consulting group, in constant growth since its creation.</p>
        </span>
      </div>
    </div>
    <div class="col">
      <img src="{% static 'assets/images/blog/3.jpg' %}" style="width:100%;" alt="first">
      <div class="caption">
        <p>29-09-2020</p>
        <h5>Paris Sports Courses</h5>
        <span style="color: #999999;">
          <p>Graphéine updates the brand image of Eurex, an international
          accounting and consulting group, in constant growth since its creation.</p>
        </span>
      </div>
    </div>
    <div class="col">
      <img src="{% static 'assets/images/blog/4.gif' %}" style="width:100%;" alt="first">
      <div class="caption">
        <p>29-09-2020</p>
        <h5>Eurex, accountancy and consulting – Visual identity</h5>
        <span style="color: #999999;">
          <p>Graphéine updates the brand image of Eurex, an international
          accounting and consulting group, in constant growth since its creation.</p>
        </span>
      </div>
    </div>
  </div>
</div>
{% endblock %}
{% block prescribe %}
<div class="prescription" style="height: 160px; width: 100%; background: #ff0000; margin-top: 40px;">
  <div class="container">
    <h2 style="font-weight: 100; color: white; padding-top: 60px;">
        Need a prescription? <span style="font-weight: initial; margin-left: 560px;"> > </span>
    </h2>
  </div>
</div>
{% endblock %}
