{% extends 'pages/layouts.html' %}

{% load static %}

{% block content %}
<div id="demo" class="carousel slide" data-ride="carousel" style="margin-top: 94px;">

  <!-- Indicators -->
  <ul class="carousel-indicators">
    <li data-target="#demo" data-slide-to="0" class="active"></li>
    <li data-target="#demo" data-slide-to="1"></li>
    <li data-target="#demo" data-slide-to="2"></li>
  </ul>

  <!-- The slideshow -->
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="{% static 'assets/images/grapheine home banner.png' %}" alt="Los Angeles" width="1100" height="500">
    </div>
    <div class="carousel-item">
      <img src="{% static 'assets/images/grapheine home banner 1.png' %}" alt="Chicago" width="1100" height="500">
    </div>
    <div class="carousel-item">
      <img src="{% static 'assets/images/grapheine home banner 2.png' %}" alt="New York" width="1100" height="500">
    </div>
  </div>

  <!-- Left and right controls -->
  <a class="carousel-control-prev" href="#demo" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </a>
  <a class="carousel-control-next" href="#demo" data-slide="next">
    <span class="carousel-control-next-icon"></span>
  </a>
</div>
<div class="container" style="padding-top:48px;">
  <div class="row">
    <div class="col">
      <h1 style="color: #404040;">The communication agency that boosts your brand image!</h1>
    </div>
    <div class="col">
      <p>Graphéine is a <b>branding agency</b> created in 2002 by like-minded and lively
          designers from various professional walks of life, all addicted to image.</p>
      <p>In this backdrop, all members use
        their skills to complement the whole. We are based in <b>Paris and Lyon, France.</b></p>
    </div>
    <div class="col">
      <p><b>Indications:</b> Graphéine is recommended for all projects that involve
        strategy, brand creation, visual identity, publishing, signage and even more…</p>
      <p><b>Directions for use:</b> If symptoms appear, contact us immediately…</p>
    </div>
  </div>
  <hr style="margin-top: 43px;">
</div>
<div class="container" style="padding-top: 30;">
  <div class="row">
        <div class="col-md-7">
          <h2 style="margin-top: 12px;">
            <span style="font-size: 36px;">
                <span style="color: #404040;">
                  <a href="#" >The agency portfolio</a>
                </span>
            </span>
          </h2>
          <span style="font-size: 18px; color: #999999;">
            <p style="margin-top: 15px;">Discover the latest creations of our communication agency.
              Brand strategy, branding, visual identities, logo creation...</p>
          </span>
        </div>
  </div>
</div>
<div class="container" style="padding-top: 30px;">
  <div class="row">
    {% for portfolio in portfolios %}
    <div class="col-md-3 col-lg-3 col-sm-6">
        <a href="{% url 'detailed' portfolio.id %}"><img src="{{ portfolio.image.url }}" style="width: 100%;" alt="2nd"></a>
        <div class="caption" style="padding-top: 10px;">
            <p class="first-blog">{{ portfolio.title }}</p>
            <p>{{ portfolio.description|slice:":100" }}</p>
        </div>
    </div>
    {% endfor %}
  </div>
</div>
<div class="container" style="padding-top: 30;">
  <div class="row">
        <div class="col-md-7">
          <h2 style="margin-top: 12px;">
            <span style="font-size: 36px;">
                <span style="color: #404040;">
                  <a href="#" >The agency blog</a>
                </span>
            </span>
          </h2>
          <span style="font-size: 18px; color: #999999;">
            <p style="margin-top: 15px;">A daily dose of branding and visual
              identity.</p>
          </span>
        </div>
  </div>
</div>
<!-- Blog section -->
<div class="container" style="padding-top: 30px;">
  <div class="row">
    {% for post in posts %}
        <div class="col-md-3 col-lg-3 col-sm-12">
            <hr>
            <a href="{% url 'post_detail' post.id %}"><img src="{{ post.image.url }}" style="width: 100%;" alt="2nd"></a>
            <div class="caption" style="padding-top: 10px;">
                <small>
                    {{ post.created_on.date }} |&nbsp;
                    Categories:&nbsp;
                    {% for category in post.categories.all %}
                        <a href="{% url 'blog_category' category.name %}">
                            {{ category.name }}
                        </a>&nbsp;
                    {% endfor %}
                </small>
                <b><p>{{ post.title }}</p></b>
                <p>{{ post.body | slice:":120" }}</p>          
            </div>
        </div>
        {% endfor %}
    </div>
  </div>
</div>
{% endblock %}