        <div class="col-md-4 col-sm-12">
            <h2 style="color: #514040">Contact us!</h2>
            <hr style="margin-top: 40px;">
            <h5 style="margin-bottom: 20px; font-size: 23px;">Paris</h5>
            <p>3 rue des Montiboeufs <br>
                 75020 - Paris</p> 
            <hr style="margin-top: 40px;">
            <h5 style="margin-bottom: 20px; font-size: 23px;">Lyon</h5>
            <p>3 rue Abbé Rozier <br>
                69001 - Lyon
            </p>
            <hr style="margin-top: 40px;">
            <h5 style="margin-bottom: 20px;">Commercial contact:</h5>
            <p>quote (at) grapheine.com <br>
                Phone: +33 (0) 9 72 26 62 31
            </p>
        </div>