body{
    background-color: #fff;
    font-family: 'aktiv-grotesk',sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    color: #404040;
    overflow-y: scroll;
    overflow-x: hidden;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}
h1, h2, h3, h4{
    font-family: 'aktiv-grotesk',sans-serif;
    font-weight: 700;
}
.first-blog{
    font-weight: bold;
    color: black;
}
p{
    color: #999;
}
.btn-primary{
    background-color: #f7f7f7 !important;
    color: black !important;
}
.btn{
    border-radius: 0px;
    width: 35%;
    height:50px;
    border-block-end-color: transparent;
    border-block-start-color: transparent;
    border-left-color: transparent;
    border-right-color: transparent;
}
.btn-primary:hover{
    background-color:#e8e8e8 !important;
    color: black !important;
}
.btn:hover{
    border-block-end-color: transparent;
    border-block-start-color: transparent;
    border-left-color: transparent;
    border-right-color: transparent;
}
.base{
    background: #efefef;
    padding-top: 46px;
    margin-top: 65px;
}
.bg-dark{
    background-color: black !important;
}

/* Categories Style */
ul{
    margin: 0px;
    padding-left: 0px;
}
ul > li {
    display: block;
    font-weight: bold;
    font-size: 13px;
}
ul > li > a{
    color: inherit;
}
ul > li:hover{
    font-size: 12px;
}
ul > li > a:hover{
    text-decoration: none;
    color: inherit;
}
.title{
    font-size: 80px !important;
    text-transform: capitalize;
}