body{
    background-color: #fff;
    font-family: 'aktiv-grotesk',sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    color: #404040;
    overflow-x: hidden;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}
h1, h2, h3, h4{
    font-family: 'aktiv-grotesk',sans-serif !important;
    font-weight: bold !important;
}

h2 a{
    border-bottom: 2px solid #dadada;
    text: decoration: none;
    padding: 0 0 0px 0px;
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
    color: #404040;
}
h2 a:hover{
    border-bottom: 2px solid red;
    text-decoration: none;
    padding: 0 0 0px 0px;
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
    color: #404040;
}
p{
    color: #635f5f;
}
.bg-dark{
    background-color: black !important;
}