/** header file for all files **/
/** Navbar header **/
/*header-bottom main-menu */
body{
    font-family: 'aktiv-grotesk',sans-serif;
}
.header-area{
    background-color: #040204;
}
.logo {
    padding-top: 31px;
}
.menu-area {
    position: relative;
}
.menu-area nav > ul > li {
    display: inline-block;
    padding: 40px 13px;
}
.menu-area nav > ul > li:last-child {
    padding-right: 0;
}
.menu-area nav > ul {
    padding-left: 204px;
}

.menu-area nav > ul > li a {
    color: #c1bfbf;
    font-size: 13px;
    font-weight: 200;
    text-decoration: none;
}
.menu-area nav > ul > li a:hover {
    color: #fff;
}
/* dropdown */

.menu-area nav > ul > li > ul,
.menu-area nav > ul > li > ul ul {
    background-color: #666;
    margin-top: 30px;
    opacity: 0;
    padding: 15px 0;
    position: absolute;
    text-align: left;
    top: 115%;
    transition: all 0.3s ease 0s;
    visibility: hidden;
    z-index: -99;
}

.menu-area nav > ul > li ul {
    width: 180px;
}
.menu-area nav > ul > li:hover > ul {
    margin-top: 0;
    opacity: 1;
    visibility: visible;
    z-index: 9999;
    transition: all 0.3s ease 0s;
}
.menu-area nav > ul > li > ul li {
    display: block;
    padding: 0;
    text-transform: capitalize;
    position: relative;
}
.menu-area nav > ul > li ul li a {
    color: #fff;
    display: block;
    line-height: 20px;
    padding: 5px 20px;
    text-transform: capitalize;
}
.menu-area nav > ul > li > ul li a > i {
    float: right;
    margin-top: 7px;
}
.menu-area nav > ul > li ul ul {
    left: 105%;
    margin-left: -10px;
    top: 0;
}
.menu-area nav > ul > li > ul li:hover ul {
    margin-top: 0;
    opacity: 1;
    visibility: visible;
    z-index: 99;
    transition: all 0.3s ease 0s;
}
/* mega menu*/

.menu-area ul li.mega-parent {
    position: static;
}

.menu-area ul li:hover .mega-menu-area {
    opacity: 1;
    visibility: visible;
    z-index: 9999;
    transition: all .3s ease 0s;
    margin-top: 0px;
}