{% extends 'pages/bloglayouts.html' %}

{% load static %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-8">
            <h1>{{ category | title}}</h1>
            <hr>
            <div class="row" style="margin-top: 30px;">
                {% for post in posts %}
                <div class="col-md-4 col-lg-4 col-sm-12">
                    <hr>
                    <img src="{{ post.image.url }}" class="w3-card" style="width: 100%;" alt="2nd">
                    <div class="caption" style="padding-top: 10px;">
                        <small>
                            {{ post.created_on.date }} |&nbsp;
                            Categories:&nbsp;
                            {% for category in post.categories.all %}
                                <a href="{% url 'blog_category' category.name %}">
                                    {{ category.name }}
                                </a>&nbsp;
                            {% endfor %}
                        </small>
                        <p>{{ post.body | slice:":100" }}</p>          
                    </div>
                    <button class="btn btn-primary">Read More</button>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

{% endblock %}